#header{
	text-align:center;
	color:white;
    background-color:black;
	
}
#b{
	margin-left:600px;	
}
table{
	color:yellow;  
	font-family:arial black;
	font-size:24px;
}
#d{
	text-align:center;	
}
footer{
	background-color:black;
	color:white;
}
#c{
	background-color:white;
	
}
#a{
   padding:100px;
   
	
}